.community__label {
  padding: 0.5rem 0rem;
}

.community__button {
  margin: 1rem 0rem;
}

.community-credentials {
  padding: 0.5rem 0rem;
}

.community-credentials__name {

}

.community-credentials__owner-password {
  text-transform: none;
  display: block;
  padding: 0.2rem 0.5rem;
  color: rgb(199, 37, 78);
  font-size: 1rem;
  background: #fff;
  word-break: break-all;
  text-align: center;
}

.community-message {
  font-weight: normal;
}

.community-message--error {
  color: rgb(199, 37, 78)
}
