.input-box input {
    width: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
    border-radius: 5px;
    padding: 1.5rem .5rem;
    border-color: transparent;
    background: transparent;
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    @include themify($themes) {
     color: themed('textColorPrimary');
   }
  input::placeholder {
    font-weight: lighter;
    color: #7e7d7d;
  }
}

.input-box{
    position: relative;
    margin-left: inherit;
}

.input-box input:focus{
    border: 1px solid #06D6A9;
    background: transparent;
}
