.ProposalsList {
  max-width: 1000px;
  width: 100%;
  flex-direction: column;
  display: flex;
  padding-top: 20px;

  @media only screen and (min-width: 768px) {
    width: 80%;
  }

  @media only screen and (max-width: 768px) {
    width: 98%;
    padding: 0.5rem;
  }

  margin-left: auto;
  margin-right: auto;

  .search_proposal {
    margin: .75rem 0;

    input {
      border-color: transparent;

      @include themify($themes) {
        background-color: themed('moduleBackgroundColor');
      }
    }

    input::placeholder {
      opacity: .75;
      font-weight: lighter;

      @include themify($themes) {
        color: themed('colorAccent');
      }
    }
  }

  .proposals__header__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    width: fit-content;
    margin-bottom: 1rem;
  }

  .proposals__header__info__item {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    padding: 12px 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #d9d9d9;

    @include themify($themes) {
      color: themed('colorAccent');
      border-radius: themed('roundedCorners');
      background-color: themed('moduleBackgroundColor');
    }
  }

  .proposals__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
    flex-wrap: wrap;


    .proposals__title {
      font-size: 1.75rem !important;
      font-weight: bold;
    }

    .proposals__filters {
      display: flex;
      justify-content: flex-end;

      .button {
        margin: 1.25rem 0 0 0;
        padding: 0.65em 1em;
        line-height: unset;
      }

      .proposals__select {
        display: flex;
        flex-direction: column;
        font-size: 0.7rem;
        font-weight: bold;
        padding-top: 3px;
        margin-right: 0.5rem;

        select {
          width: fit-content;

          &:not(:last-child) {
            margin-right: 0.5em;
          }

          @media only screen and (max-width: 768px) {
            height: 2rem;
            padding: 0.3rem;
          }
        }
      }

      .proposals__order_direction {
        padding: .5rem;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        margin-right: 0.5rem;
        &:hover {
          opacity: 0.8;
        }

        .direction {
          font-size: 1.25rem;

          &.active {
            color: $color-red;
          }
        }
      }
    }

  }

  .proposals__item {
    @include themify($themes) {
      border-radius: themed('roundedCorners');
      background-color: themed('moduleBackgroundColor');
    }

    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    display: flex;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
    }

    .proposals__content,
    .proposals__votes {
      display: flex;
      padding: 10px;
    }

    @media only screen and (max-width: 768px) {
      .proposals__votes {
        display: flex;
        padding: 0 10px;
      }
    }

    .proposals__content {
      flex: 0.9;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 1.4em;
        display: block;

        &:hover {
          opacity: 0.7;
        }

        .id {
          font-weight: bold;

          @include themify($themes) {
            color: themed('textColorSecondary');
          }
        }
      }

      .description {
        display: flex;
        margin: 0.5rem 0;

        @include themify($themes) {
          color: themed('textColorSecondary');
        }

        .date {
          margin-right: 1rem;
          min-width: 260px;
        }

        @media only screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .right-content {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-left: 1.25rem;
          .flags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
          }

          .amount {
            min-width: 210px;
            text-align: end;
            span {
              font-weight: bold;

              @include themify($themes) {
                color: themed('colorAccent');
              }
            }
          }
          @media only screen and (min-width: 950px) {
            margin-left: 2.5rem;
          }
          @media only screen and (max-width: 990px) {
            text-align: start;
            flex-direction: column;
            .amount {
              text-align: start;
            }
          }
          @media only screen and (max-width: 768px) {
            gap: 0;
            margin-left: 0;
            .flags {
              margin-left: 0;
            }
          }

          .status {
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 0 0.2rem;
            border-radius: 0.3rem;
            font-size: 0.7rem;
            text-transform: uppercase;

            @include themify($themes) {
              border: 1px solid themed('colorAccent');
              color: themed('colorAccent');
            }

            &.funding-type {
              &.burn {
                border: 1px solid $color-orange;
                color: $color-orange;
                text-transform: uppercase;
              }

              &.refund {
                border: 1px solid green;
                color: green;
                text-transform: uppercase;
              }

              &.funded {
                border: 1px solid #1715C9;
                color: #1715C9;
                text-transform: uppercase;
              }
            }
          }

          @media only screen and (min-width: 768px) {
            min-width: 200px;
          }

          @media only screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;

            .amount {
              margin: 0.5rem 0;
            }

            .status {
              margin: 0;
              margin-bottom: 0.5rem;
            }
          }
        }

      }

      .details {
        display: flex;
        align-items: center;

        .Userpic {
          height: 30px;
          width: 30px;
          margin-right: 0.5rem;
        }
      }
    }

    .proposals__votes {
      flex: 0.1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .proposal_remove {
        @include themify($themes) {
          border-radius: themed('roundedCorners');
        }
        font-size: 1em;
        padding: 0.25em;
        width: 100%;
        margin: 0;
        border: 1px solid #e41e40;
        color: #e41e40;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        margin-top: 15px;
      }
      .proposal_remove:hover {
        border: 1px solid #e41e40;
        background: #e41e40;
        color: #ffffff;
      }
      @media (max-width: 768px) {
        .proposal_remove {
          display: none;
        }
      }

      &::before {
        position: absolute;
        content: '';
        background: rgba($color: #000000, $alpha: 0.15);
        left: 0;
        height: 90%;
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
      }

      span {
        cursor: pointer;
        margin-bottom: 2px;
      }

      .total_votes {
        padding: 15px 5px;
        padding-top: 0;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .total_votes:hover {
        @include themify($themes) {
          color: themed('colorAccent');
        }
      }

      div {
        font-size: 1.5em;
      }

      span.Voting__button .Icon {
        height: 1.5rem !important;
        width: 1.5rem !important;
      }

      span span.Voting__button span.Icon svg {
        height: 1.5rem !important;
        width: 1.5rem !important;
      }

      @media only screen and (max-width: 768px) {
        flex-direction: row;
        justify-content: space-between;

        &::before {
          height: 1px;
          width: calc(100% - 20px);
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.btn-link {
  @include themify($themes) {
    color: themed('colorAccent');
  }

  cursor: pointer;
  font-weight: bold;
}

.proposal_remove--small {
  @include themify($themes) {
    border-radius: themed('roundedCorners');
  }
  font-size: 1em;
  padding: 0.25em;
  width: 100%;
  margin: 0;
  border: 1px solid #e41e40;
  color: #e41e40;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.proposal_remove--small:hover {
  border: 1px solid #e41e40;
  background: #e41e40;
  color: #ffffff;
}
@media only screen and (min-width: 769px) {
  .proposal_remove--small {
    display: none;
  }
}


@media only screen and (max-width: 400px) {
  .ProposalsList .proposals__header .proposals__filters .button {
      width: 100%;
  }

  .ProposalsList .proposals__header .proposals__filters {
      justify-content: flex-start;
      flex-wrap: wrap;
  }
}
