
.Delegations-menu{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    justify-content: space-evenly;
}

/* BUTTONS */
// Menu Buttons
.Delegations__btn--active.Delegations__btn.button.hollow {
    position: relative;
    color: #ffffff;
    background: #1FBF8F;
    text-shadow: none;
    border: 1px solid #06D6A9;
}

.Delegations__btn.button.hollow {
    color: #06D6A9;
    border: 1px solid #06D6A9;
    background: transparent;
    text-shadow: none;
}

.Delegations__btn.button.hollow:hover {
    color: #ffffff;
    background: #1FBF8F;
    text-shadow: none;
    border: 1px solid #06D6A9;
}

// Revoke button
.delegations__revoke.button.hollow {
    font-size: .75rem;
    padding: 0.25em;
    margin: 0;
    border: 1px solid #e41e40;
    color: #e41e40;
    transition: all 0.3s ease-in-out;
}

.delegations__revoke.button.hollow:hover {
    border: 1px solid #e41e40;
    background: #e41e40;
    color: #ffffff;
}

/* FILTERS */
.row.filter-menu {
    align-items: baseline;
    width: 100%;
    gap: 2rem;
    margin-left: inherit;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.row.filter-menu label{
    display: flex;
    text-transform: none;
}

/* TABLES */
.OutgoingDelegations,
.ExpiringDelegations {
    width: 100%;
}

.OutgoingDelegations th,
.ExpiringDelegations th {
    position: relative;
    cursor: pointer;
}

.OutgoingDelegations th span,
.ExpiringDelegations th span {
    float: right;
    margin-left: 10px; /* Ajusta el margen izquierdo según tus necesidades */
}

.OutgoingDelegations th::after,
.ExpiringDelegations th::after {
    content: "";
    display: table;
    clear: both;
}

.OutgoingDelegations__table-container,
.ExpiringDelegations__table-container {
    width: 100%;
    overflow-y: auto;
}

.column-number{
    text-align: right;
}

.up-arrow {
    transform: rotate(180deg) translateY(7px);
}


.icon--active .Icon.dropdown-arrow polygon {
    fill: #1FBF8F;
}

.text--capitalize {
    text-transform: lowercase;
}

.text--capitalize:first-letter {
    text-transform: uppercase;
}

.navPagination {
    width: 100%;
    display: flex;
    overflow-x: auto;
    justify-content: center;
}

.Pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    width: fit-content;
}

.page-item {
    background: #F4F4F4;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.page-item:hover {
    background: #E0E0E0;
}

.page-item.active {
    background: #E0E0E0;
}

.page-link {
    margin-left: 15px;
    height: 100%;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
}

.LoadingIndicator.circle {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 470px) {
    .Delegations__btn.button.hollow {
        min-width: 60vw;
    }
}
@media only screen and (max-width: 425px) {
    .OutgoingDelegations__table-container tr {
        font-size: 0.9rem;
    }

    .delegations__revoke.button.hollow {
        font-size:  0.9rem;
        padding: 0.85em 1em;
        border: 1px solid #06D6A9;
        transition: all 0.3s ease-in-out;
        color: inherit;
    }

    .delegations__revoke.button.hollow:hover {
        border: 1px solid #06D6A9;
        background: transparent;
        color: inherit;
    }

    .Pagination {
        gap:0;
    }

    .page-item {
        border-radius: 0px;
    }

    .page-link {
        padding: 0.5rem 0;
    }
}

@media only screen and (max-width: 405px) {
    .OutgoingDelegations th,
    .ExpiringDelegations th {
        min-width: 45vw;
    }
    .Delegations__btn.button.hollow {
        min-width: 80vw;
    }
}
